@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    background-color: #e5e5f7;
    opacity: 1;
    background: repeating-linear-gradient( 45deg, #444cf7, #444cf7 6px, #e5e5f7 6px, #e5e5f7 30px );
}

.container{
    max-width: 40%;
    min-width: 900px; /* needs 700px for the grid */
    height: 100vh;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: column wrap;
    /* justify-content: space-around; */
    gap: 30px;
    align-items: center;
}
.container > *{
    background-color: #e2e8f0;
}

.main{
    width: 660px;
    height: 660px;
    margin-top: auto;
    border: 3px solid black
}

.menu{
    border: 3px solid black;
    border-radius: 22px;
    min-width: 55%;
    min-height: 30px;
    height: 50px;
    line-height: 50px;
    margin-bottom: auto;
    text-align: center;
}

