@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  background-color: #e5e5f7;
  opacity: 1;
  background: repeating-linear-gradient(
    45deg,
    #444cf7,
    #444cf7 6px,
    #e5e5f7 6px,
    #e5e5f7 30px
  );
}

.container {
  max-width: 40%;
  min-width: 900px; /* needs 700px for the grid */
  height: 100vh;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-flow: column wrap;
  /* justify-content: space-around; */
  gap: 30px;
  align-items: center;
}
.container > * {
  background-color: #e2e8f0;
  border: 2px solid black;
}

.main {
  width: 660px;
  height: 660px;
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu {
  border-radius: 22px;
  min-width: 30%;
  height: 60px;
  line-height: 50px;
  margin-bottom: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#grid-size{
  text-align: center;
  width: 3em;
  height: 1.8em;
  max-height: max-content;
  text-align: center;
  border-style: none;
  border-radius: 5px;
}

.button{
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid;
  background-color: #444cf7;
  color: #e2e8f0;
  padding: 7px;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: larger;
}

.button:active{
  position:relative;
	top:1px;
  right:1px;
}

.black-filled{
  background-color: #000;
}